section {
    margin-top: 5%;
}

.navbar-custom {
    background-color: black;
}

.img-card {
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 320px;
    height: 200px; 
}

section h3.section-subheading {
    min-height: 100px;
}
