@model CONSULS_SYSTEM.Models.TB_Meeting

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_member.cshtml";
}

<h2>Edit</h2>

<h4>TB_Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Meeting_ID" class="control-label"></label>
                <input asp-for="Meeting_ID" class="form-control" />
                <span asp-validation-for="Meeting_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting_Title" class="control-label"></label>
                <input asp-for="Meeting_Title" class="form-control" />
                <span asp-validation-for="Meeting_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting_Date" class="control-label"></label>
                <input asp-for="Meeting_Date" class="form-control" />
                <span asp-validation-for="Meeting_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createby" class="control-label"></label>
                <input asp-for="Createby" class="form-control" />
                <span asp-validation-for="Createby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
