@model CONSULS_SYSTEM.Models.TB_Minutes
@using CONSULS_SYSTEM.Resources
@using Microsoft.AspNetCore.Http;

@inject LocService SharedLocalizer
@{
    Layout = "_Layout_admin";
    ViewData["Title"] = "Create";
}
<script type="text/javascript">
    function level_onchange() {
        var element = document.getElementById("level_4");
        if ($('#ddl_level').val() == "4") {
            element.classList.remove("hidden");
        }
        else {
            element.classList.add("hidden");
        }
    }
</script>
<section class="content-header">
    <h1>
        Data
        <small> management</small>
    </h1>
    <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>-->
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">@SharedLocalizer.GetLocalizedHtmlString("Create New") - @SharedLocalizer.GetLocalizedHtmlString("Minutes")</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Img_Url" class="control-label"></label>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="~/layout_admin/Upload-Image/img/demoUpload.jpg" alt="" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="uploadfile" accept="image/*" />
                                    </span>
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <span asp-validation-for="Img_Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Attachment" class="control-label"></label>
                            <input asp-for="Attachment" type="file" name="uploadfile_Attachment" class="form-control" />
                            <span asp-validation-for="Attachment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MeetingDate" class="control-label"></label>
                            @*<input asp-for="MeetingDate" type="date" class="form-control" />*@
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @{
//DateTime datenow = System.DateTime.Now;
//if (Model.MeetingDate != null)
//{
//    datenow = Convert.ToDateTime(Model.MeetingDate);
//}

//string myDate = datenow.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US"));
//value = "@myDate"
                                }
                                <input type="text" asp-for="MeetingDate" class="form-control pull-right datepicker" placeholder="dd/mm/yyyy" name="MyMeetingDate" data-date-format="dd/mm/yyyy">
                            </div>
                            <span asp-validation-for="MeetingDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Type" class="control-label"></label>
                            <select asp-for="Type" onchange="level_onchange()" id="ddl_level" class="form-control" asp-items="ViewBag.Type">
                                <option value=0>Please select</option>
                            </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div id="level_4" class="form-group hidden">
                            <label asp-for="Country_ID" class="control-label"></label>
                            <select asp-for="Country_ID" class="form-control" asp-items="ViewBag.Country_ID">
                                <option value=0>Please select</option>
                            </select>
                            <span asp-validation-for="Country_ID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Active" class="control-label"></label>
                            <input type="checkbox" name="Active" checked value=true data-toggle="toggle" data-onstyle="success" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Send notify")</label>
                            <input type="checkbox" name="sendnotify" checked value=true data-toggle="toggle" data-onstyle="success" />
                        </div>
                        <div class="form-group" style="float:right">
                            <a asp-action="Manage" class="btn btn-default"><i class="fa fa-mail-reply"></i> Back</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
