@model CONSULS_SYSTEM.Models.Login
@using CONSULS_SYSTEM.Resources
@using Microsoft.AspNetCore.Http;

@inject LocService SharedLocalizer
@using System.IO;
@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Chang new password";
    Layout = "_Layout_login";
}
<div class="login-box-body">
    <p class="login-box-msg">@SharedLocalizer.GetLocalizedHtmlString("Change new password") </p>
    <form asp-action="change_password" asp-controller="Login" method="post" autocomplete="off">
        <input type="hidden" asp-for="Username" />
        <b><label>@SharedLocalizer.GetLocalizedHtmlString("Your account")</label></b> <label style="color:red"> @Model.Username</label>
        <div class="form-group has-feedback">
            <input asp-for="Password" class="form-control" type="password" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <input name="confirm" class="form-control" type="password" placeholder="Confirm password">
            <span class="glyphicon glyphicon-ok-sign form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-xs-12" style="text-align:center;padding:10px;">
                <span asp-validation-for="Validation" class="text-danger"></span>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">@SharedLocalizer.GetLocalizedHtmlString("Confirm")</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>