@model CONSULS_SYSTEM.Models.Login
@using CONSULS_SYSTEM.Resources
@using Microsoft.AspNetCore.Http;

@inject LocService SharedLocalizer
@using System.IO;
@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_Layout_login";
}

<div class="login-box-body">
    <p class="login-box-msg">@SharedLocalizer.GetLocalizedHtmlString("Your email to reset password.")</p>
    <form asp-action="forgot_password" asp-controller="Login" method="post" autocomplete="off">
        <div class="form-group has-feedback">
            <input asp-for="email" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("email")">
            <span class="fa fa-at form-control-feedback"></span>
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-xs-12" style="text-align:center;padding:10px;">
                <span asp-validation-for="Validation" class="text-danger"></span>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">@SharedLocalizer.GetLocalizedHtmlString("Send to reset password")</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>
